<div class="container" th:fragment="navbar">
    <div class="d-md-flex justify-content-md-center navbar-container">
        <nav class="navbar navbar-expand-lg navbar-expand-sm">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-ul">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/messages/inbox">Gelen Kutusu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/messages/sent">Gönderilen Mesajlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/messages/send">Yeni Mesaj Gönder</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>