<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gelen Kutusu</title>
</head>
<body>
    <h1>Gelen Kutusu</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Gönderen</th>
                <th>Mesaj</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messages}">
                <td th:text="${message.sender.username}">Gönderen</td>
                <td th:text="${#strings.newString(message.encryptedMessage, 'UTF-8')}">Şifreli Mesaj</td>
                <td th:text="${message.timestamp}">Tarih</td>
            </tr>
        </tbody>
    </table>
    <a href="/messages/send">Yeni Mesaj Gönder</a>
</body>
</html>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link
      href="../static/css/style.css"
      th:href="@{/css/style.css}"
      rel="stylesheet"
    />
    <link
      href="../static/css/fa-all-min.css"
      th:href="@{/css/fa-all-min.css}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <!-- Table -->

    <div class="container table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Gönderen</th>
            <th scope="col">Şifreli Mesaj</th>
            <th scope="col">Çözülmüş Mesaj</th>
            <th scope="col">Tarih</th>
            <th scope="col">İşlem</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="message, iterStat : ${messages}">
            <td th:text="${message.sender.username}">Gönderen</td>
            <td
              th:text="${#strings.length(message.encryptedMessage) > 25 ? message.encryptedMessage.substring(0, 25) + '...' : message.encryptedMessage}"
            >
              Şifreli Mesaj
            </td>
            <td th:text="${decryptedMessages[iterStat.index]}">
              Çözülmüş Mesaj
            </td>
            <td th:text="${message.timestamp}">Tarih</td>
            <td>
              <a
                th:href="@{'/messages/delete/{id}'(id=${message.id})}"
                class="btn btn-primary btn-sm"
                ><i class="fa-solid fa-trash"></i> Sil</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Send Message Button -->
    <div class="text-center mt-4">
      <a href="/messages/send" class="btn btn-primary btn-lg"
        >Yeni Mesaj Gönder</a
      >
    </div>

    <!-- Bootstrap JS -->
    <script
      src="../static/script/bootstrap.bundle.min.js"
      th:src="@{/script/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
